body {
	font-family: Helvetica, sans-serif;
	background-color: #96c3ed;
}

.fncPrompt {
	font-family: Helvetica, sans-serif;
	font-size: 16pt;
	margin-top: 10px;
	margin-bottom: 10px;
	color: darkslategray
}

select {
	font-size: 12pt;
	font-family: Helvetica, sans-serif;
}


label {
	margin-bottom: 3px;
	font-size: 14pt;
	margin-right: 10px;
	font-family: Helvetica, sans-serif;
	color: darkslategray;
}

button {
	border-radius: 20px;
	border: #1161ee;
	border-style: solid;
	background-color: #96c3ed;
	color: #1161ee;
	font-family: Helvetica, sans-serif;
	font-size: 14pt;
	font-weight: bold;
	padding: 10px 15px;
}

button:hover {
	background-color: #1161ee;
	color: #dcebf9;
}

.alert {
	color: #cc2936;
	font-family: Helvetica, sans-serif;
	font-size: 14pt;
	margin-bottom: 10px;
}

.header {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	margin-left: 28%;
	margin-top: 2%;
	text-align: auto;
	font-size: 22pt;
	background-color: #96c3ed;
}

input {
	margin-bottom: 15px;
	border-width: 2px;
	border-style: solid;
	border-radius: 10px;
	padding: 3px;
	width: 200px;
}


.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	
	width: 25%;
}

.selector {
	text-align: left;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.selectBtn {
	border-radius: 5px 20px 20px 5px;
	font-size: 20pt;
	font-family: Helvetica, sans-serif;
	color: white;;
	background-color: #1161ee;
	display: block;
	padding: 15px;
	margin-bottom: 5px;
	position: relative;
	width: 90%;
}

.selectBtn:hover {
	color: black;
	position: relative;
	width: 100%;
}

.selectBtn.selected {
	font-weight: bold;
	position: relative;
	width: 100%;
}

.fncStuff {
	margin-left: 28%;
	font-family: Helvetica, sans-serif;
}

table {
	font-family: Helvetica, sans-serif;
}

thead {
	background-color: black;
	color: white;
	font-size: 16pt;
	text-align: center;

}

tbody {
	font-size: 14pt;
	text-align: center;
}

.currentData {
	margin-top: 20px;
}

td {
	padding: 10px 20px;
}

.gTable {
                border:10px outset #1161ee;
                border-radius: 10px;
                padding: 15px;
                background-clip: padding-box;
                width: 90%;
		margin-bottom: 20px;
}

.progShell {
	padding: 0px 0px 0px 0px;
	border:5px outset #121a8a;
        border-radius: 0px 10px 10px 0px;
	background-color: #96c3ed;

}

.garageLabel {
	text-align: left;
	color: black;
}

.progBar {
	font-size: 16pt;
	border-style: outset;
	border-color: #121a8a;
}


.modalLinks {
	font-size: 18pt;
	color: black;
	text-align: left;
	font-weight: bold;
}

.modal {
	width: 20%;
	float: right;
	position: relative;
}

.nameCell {
	padding: 0px 0px 0px 0px;
}

.modal_floors {
	font-size: 16pt;
	color: black;
	font-weight: bold;
	background-color: #96c3ed;
}
